* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .background_main {
    width: 100%;
    height: 1080px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  
  /*커피이미지 꾸밈용*/
  .main_color {
    width: 100%;
    height: 100%;
    color: linear-gradient(rgba(222,147,147,0.05), rgba(0,0,0,0.05));
    top: 104px;
    position: absolute;
    overflow: hidden;
  }
  /*커피이미지*/
  .main_image {
    width: 100%;
    height: 1080px;
    background: url("../images/main_1.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 104px;
    overflow: hidden;
  }
  
  .name {
    width: 3px;
    height: 4px;
    color: rgb(255, 255, 255);
    opacity: 1;
    top: 20px;
    position: absolute;
    overflow: hidden;
  }
  .name {
    width: 3px;
    height: 4px;
    color: rgb(255, 255, 255);
    opacity: 1;
    top: 20px;
    position: absolute;
    overflow: hidden;
  }
  .name {
    width: 3px;
    height: 4px;
    color: rgb(255, 255, 255);
    opacity: 1;
    top: 20px;
    position: absolute;
    overflow: hidden;
  }
  .name {
    width: 3px;
    height: 4px;
    color: rgb(255, 255, 255);
    opacity: 1;
    top: 20px;
    position: absolute;
    overflow: hidden;
  }
  
  .v7_42 {
    width: 100%;
    height: 455px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 351px;
    left: 376px;
    overflow: hidden;
  }
  
  /*강의 가기 전에...(생략) 문구 */
  .main_line {
    width: 366px;
    position: absolute;
    top: 377px;
    left: 796px;
    font-size: 18px;
    text-align: right;
    background: linear-gradient(45deg, rgba(115,84,72,0.6), rgba(0,0,0,0.4)); /* 그라데이션 색상 적용, 투명도 조절 */
    -webkit-background-clip: text; 
    background-clip: text;
    color: transparent; 
  }
  
  /*학교 생협 카페 온라인 주문하기 문구 */
  .order {
    width: 790px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 193px;
    left: 600px;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
    font-family: "Nanum Gothic", sans-serif;
    font-weight: ExtraBold;
    font-size: 75px;
    opacity: 1;
    text-align: left;
  }
  
  /*동아대학교*/
  .donga {
    width: 128px;
    color: rgba(115,84,72,0.6);
    position: absolute;
    top: 116px;
    left: 606px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: ExtraBold;
    font-size: 25px;
    opacity: 1;
    text-align: left;
  }
  
  /*글자 옆 로고*/
  .logo_2 {
    width: 62px;
    height: 60px;
  background: url("../images/Vector.png");
    opacity: 1;
    position: absolute;
    top: 171px;
    left: 1111px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0);
  }
  
  /* 커피 위 학교 로고*/
  .school_logo { 
    width: 470px;
    height: 470px;
    background: url("../images/school_logo.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 60px;
    left: 65px;
    transform: rotate(-40);
    overflow: hidden;
  }
  
  /*메뉴바*/
  .menubar_ground {
    width: 100%;
    height: 81px;
    background-color: rgb(115,84,72); 
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 65px;
    overflow: hidden;
  }
  
  /*MENU*/
  .menu_fort{
    width: 166px;
    height: 53px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 266px;
    font-family: "Numans", sans-serif;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    line-height : 53px
  }
  /*CASH*/
  .cash_fort{
    width: 166px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 393px;
    font-family: "Numans", sans-serif;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    line-height : 53px
  }
  /*MAP*/
  .map_fort {
    width: 175px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 128px;
    font-family: "Numans", sans-serif;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    line-height : 53px
  }
  /*home*/
  .home_fort {
    width: 175px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 1px;
    left: 0px;
    font-family: "Numans", sans-serif;
    font-weight: Regular;
    font-size: 25px;
    opacity: 1;
    text-align: center;
    line-height : 53px
  }
  
  /*GPS */
  .gps_image {
    width: 26px;
    height: 34px;
    background: url("../images/Vector.png");
    opacity: 1;
    position: absolute;
    top: 16px;
    left: 11px;
  }
  /*추후 장소위치*/
  .map_location{
    width: 348px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: "Nunito", sans-serif;
    font-weight: Regular;
    font-size: 28px;
    opacity: 1;
    text-align: center;
    line-height : 54px
  }
  
  /*추측컨데 Sign up / Sign in 위치?*/
  .right_menu {
    width: 404px;
    height: 36px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 1349px;
    overflow: hidden;
  }
  
  /*장바구니 아이콘*/
  .cart_icon {
    width: 35px;
    height: 32px;
    background: url("../images/cart.png");
    opacity: 1;
    position: absolute;
    top: 3px;
    left: 369px;
  }
  
  /* sign up 큰틀 */
  .v7_30 {
    width: 170px;
    height: 36px;
    /*background: url("../images/SIGN_UP.png"); */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 167px;
    overflow: hidden;
  }
  /*sign up 꾸밈 */
  .signup_backround {
    width: 170px;
    height: 36px;
    background: rgba(115,84,72,1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    /*둥글게 깎은 것*/
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    overflow: hidden;
  }
  /*sign up 글 꾸미기*/
  .Signup_fort {
    width: 123px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 12px;
    left: 39px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: ExtraBold;
    font-size: 21px;
    opacity: 1;
    text-align: center;
  }
  /*sign up 옆 사람 아이콘*/
  .signup_icon {
    width: 30px;
    height: 23px;
    background: url("../images/people.png");
    opacity: 1;
    position: absolute;
    top: 6px;
    left: 9px;
  }
  
  /*sign in 글 꾸미기*/
  .Signin_fort {
    width: 153px;
    color: rgba(115,84,72,1);
    position: absolute;
    top: 2px;
    left: 0px;
    font-family: "Nanum Gothic", sans-serif;
    font-weight: Bold;
    font-size: 25px;
    opacity: 1;
    text-align: center;
  }