<!DOCTYPE html>
<html>
<head>
    <!--폰트1 numans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Numans&display=swap" rel="stylesheet">
    <!--폰트2 nunito-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Numans&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!--폰트3 nanum gothic-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Numans&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!--css 주소 링크-->
    <link href="/stylesheets/login.css" rel="stylesheet" />
    <title>login</title>
    <!-- script -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        function loginUser() {
            var form = document.getElementById("login");
            axios({
                method: 'post',
                url: 'http://localhost:8080/login',
                data: {
                    id: form.id.value,
                    password: form.password.value
                }
            }).then((response) => {
                //console.log("response.data:" , response.data);
                return response.data;
            }).then((data) => {
                if (data.flag == false) {
                    //메세지 띄우기
                    alert("아이디 또는 비밀번호를 확인하세요");
                } else {
                    var form_info = document.getElementById("form_info");
                    form_info.id.value = form.id.value;
                    form_info.submit();
                }     
            })
        }
    </script>
</head>
<!-- body -->
<body>
    <div class="background">
        <div class="background_image"></div>
        <div class="menubar">         <!--상단 메뉴바 -->
            <a href="/menu"><span class="fonts_1">MENU</span></a>
            <a href="/map"><span class="fonts_3">MAP</span></a>
            <a href="/"><span class="fonts_4">HOME</span></a>
            <div class="line_1"></div> <!-- 구분선 -->
            <div class="icon_1"></div> <!--공대 6호관 옆 아이콘-->
            <span class="fonts_5">카페</span>

            <div class="icon_2"></div>  <!--카트 아이콘-->
            <div class="signup_bg"></div>  <!--SIGN UP 배경-->
            <a href="/login"><span class="fonts_6">SIGN UP</span></a>
            <div class="icon_3"></div>  <!--SIGN UP 옆 사람 아이콘-->
            <a href="/join"><span class="fonts_7">SIGN IN</span></a>
        </div>

        <div class="main_login"></div> <!-- 로그인 하얀 창-->
        <form id="login">
            <div class="id_pw">
                <input class="id_bg" type="text" name="id" placeholder="  아이디" required><br>
                <input class="pw_bg" type="password" name="password" placeholder="  비밀번호" required><br>
                <button class="login_bt" type="button" onclick="loginUser();"></button>
                <span class="login_font">로그인</span>
            </div>
        </form>
        <div class="v16_57">
            <div class="line_2"></div>  <!--구분선-->
            <div class="line_3"></div>  <!--구분선-->
            <a href="/join"><span class="join_font_2">회원가입</span></a>
            <span class="ID_find_font">아이디 찾기</span> <!--기능 없음-->
            <span class="PW_find_font ">비밀번호 찾기</span> <!--기능 없음-->
        </div>
        <div class="logo">
            <span class="logo_font">학교 생협 카페 온라인 주문하기</span>
            <div class="v16_60"></div>
            <div class="v16_61"></div>
        </div>
        <div class="line_4"></div>
    </div>
    <!-- <div class="background">
        <div class="background_image"></div>
        <div class="menubar">
            <nav class="navbar">
                <a href="/menu">MENU</a>
                <a href="/add-money">CASH</a>
                <a href="/map">MAP</a>
                <a href="/">HOME</a>
            </nav>
            <div class="line_1"></div>
            <div class="icon icon_1"></div>
            <section class="fonts fonts_5">공대 6호관 카페</section>

            <div class="icon icon_2"></div>
            <div class="signup_bg"></div>
            <section class="fonts fonts_6">SIGN UP</section>
            <div class="icon icon_3"></div>
            <section class="fonts fonts_7">SIGN IN</section>
        </header>
        <form id="login">
            <div class="main_login">
                <div class="logo">
                    <div class="v16_60"></div>
                    <span class="logo_font">학교 생협 카페 온라인 주문하기</span>
                    <div class="v16_61"></div>
                </div>
                <div class="line_4"></div>
                <div class="id_pw">
                    <input class="id_bg" type="text" name="id" placeholder="  아이디" required><br>
                    <input class="pw_bg" type="password" name="password" placeholder="  비밀번호" required><br>
                    <button class="login_bt" type="button" onclick="loginUser();">
                        <span class="login_font">로그인</span>
                    </button>
                </div>
                <div class="sub_menu_bar">
                    <div class="sub_menu_line"></div>
                    <span class="sub_menu">회원가입</span>
                    <span class="sub_menu">아이디 찾기</span>
                    <span class="sub_menu ">비밀번호 찾기</span>
                    <div class="sub_menu_line"></div>
                </div>
            </div>
        </form>
    </div> -->
    <form id="form_info" action="/" method="GET">
        <input type="hidden" name="id">
    </form>
</body>
</html>