<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--폰트1 numans-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Numans&display=swap" rel="stylesheet">
    <!--폰트2 nunito-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Numans&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!--폰트3 nanum gothic-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Numans&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    <!--css 주소 링크-->
    <link href="./stylesheets/map_.css" rel="stylesheet" />
    <script defer src="./html_scripts/map.js"></script>
    <script>

    </script>
    <title>지점 선택</title>
</head>
<body>
<div class="background">
    <div class="background_image"></div>
    <div class="menubar">         <!--상단 메뉴바 -->
        <a href="/menu"><span class="fonts_1">MENU</span></a>
        <a href="/add_money"><span class="fonts_2">CASH</span></a>
        <a href="/map"><span class="fonts_3">MAP</span></a>
        <a href="/"><span class="fonts_4">HOME</span></a>
        <div class="line_1"></div> <!-- 구분선 -->
        <div class="icon_1"></div> <!--공대 6호관 옆 아이콘-->
        <span id="현재위치" class="fonts_5">승학 캠퍼스</span>
        <div class="icon_2"></div>  <!--카트 아이콘-->
        <div class="signup_bg"></div>  <!--SIGN UP 배경-->
        <a href="/join"><span class="fonts_6">SIGN UP</span></a>
        <div class="icon_3"></div>  <!--SIGN UP 옆 사람 아이콘-->
        <a href="/login"><span class="fonts_7">SIGN IN</span></a>
    </div>

    <div class="main_map_index"> <!-- 지도 부분 -->
        <div class="main_map_bg"></div> <!-- 지도 부분 배경 -->
        <div id="map" class="main_map"></div> <!-- 지도 사진 부분 / 실제로는 여기에 지도 넣어주시면 돼요!-->
    </div>

    <div class="location_index"> <!-- 카페 위치 뜨는 부분-->
        <div class="location_bg"></div> <!-- 카페 위치 글 배경 -->
        <span id="places-list" class="fonts_9">오류발생 버튼을 눌러주세요</span>
    </div>

    <div class="campus_index"> <!--캠퍼스 선택 부분 -->
        <button id="부민" class="campus_btn_bg_1">
            <span class="fonts_14">부민캠퍼스</span>
        </button> <!-- 캠퍼스 선택 버튼 -->
        <button id="승학" class="campus_btn_bg_2">
            <span class="fonts_15">승학캠퍼스</span>
        </button> <!-- 캠퍼스 선택 버튼 -->
    </div>

</div>
</body>
</html>
