<!DOCTYPE html>
<html lang="ko-KR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
		<meta name="naver-site-verification" content="560c3ddbf4ca958f44be6ab765f5221cacf1f2e4"/>
 	  <meta property="og:description" content="싸다, 크다, 맛있다! 백종원의 커피전문점 빽다방">
		<meta property="og:image" content="https://paikdabang.com/wp-content/uploads/2024/05/빽다방_별이되어라-콜라보_홈페이지-메인_1920x600_O_확인용.jpg">
	    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
    <link rel="stylesheet" id="theme-css-style-css" href="https://paikdabang.com/wp-content/themes/paikdabang/assets/css/paiks_style.css" type="text/css" media="all">
	<link rel="shortcut icon" type="image/x-icon" href="/favicon.png" />
    <title>
        빽다방    </title>
    <link rel='dns-prefetch' href='//s.w.org' />
		<script type="text/javascript">
			window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"https:\/\/paikdabang.com\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.4"}};
			!function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
		</script>
		<style type="text/css">
img.wp-smiley,
img.emoji {
	display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}
</style>
<link rel='stylesheet' id='klpu-front-css-css'  href='https://paikdabang.com/wp-content/plugins/kl-popup/css/klpu-front.min.css?ver=4.9.4' type='text/css' media='all' />
<link rel='stylesheet' id='insta-gallery-css'  href='https://paikdabang.com/wp-content/plugins/insta-gallery/assets/insta-gallery-min.css?ver=1.5.11' type='text/css' media='all' />
<link rel='stylesheet' id='theme-css-normalize-css'  href='https://paikdabang.com/wp-content/themes/paikdabang/assets/css/normalize.css?ver=4.9.4' type='text/css' media='all' />
<link rel='stylesheet' id='theme-css-style-css'  href='https://paikdabang.com/wp-content/themes/paikdabang/assets/css/style.css?ver=4.9.4' type='text/css' media='all' />
<link rel='stylesheet' id='theme-css-dev-style-css'  href='https://paikdabang.com/wp-content/themes/paikdabang/assets/css/style_dev.css?ver=4.9.4' type='text/css' media='all' />
<link rel='stylesheet' id='theme-css-extend-style-css'  href='https://paikdabang.com/wp-content/themes/paikdabang/assets/css/extend.a.css?ver=4.9.4' type='text/css' media='all' />
<script type='text/javascript' src='https://paikdabang.com/wp-includes/js/jquery/jquery.js?ver=1.12.4'></script>
<script type='text/javascript' src='https://paikdabang.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.4.1'></script>
<script type='text/javascript'>
/* <![CDATA[ */
var klpu_vars = {"ajaxurl":"https:\/\/paikdabang.com\/wp-admin\/admin-ajax.php","server_time":"1716904890"};
/* ]]> */
</script>
<script type='text/javascript' src='https://paikdabang.com/wp-content/plugins/kl-popup/js/klpu-front.min.js?ver=4.9.4'></script>
<script type='text/javascript' src='https://paikdabang.com/wp-content/themes/paikdabang/assets/js/jquery.1.12.4.min.js?ver=4.9.4'></script>
<link rel='https://api.w.org/' href='https://paikdabang.com/wp-json/' />
<link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://paikdabang.com/xmlrpc.php?rsd" />
<link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://paikdabang.com/wp-includes/wlwmanifest.xml" /> 
<meta name="generator" content="WordPress 4.9.4" />
<link rel="canonical" href="https://paikdabang.com/" />
<link rel='shortlink' href='https://paikdabang.com/' />
<link rel="alternate" type="application/json+oembed" href="https://paikdabang.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpaikdabang.com%2Fpost_topbanner%2F%25eb%25b3%2584%25ec%259d%25b4-%25eb%2590%2598%25ec%2596%25b4%25eb%259d%25bc-%25ed%2594%2584%25eb%25a1%259c%25eb%25aa%25a8%25ec%2585%2598%2F" />
<link rel="alternate" type="text/xml+oembed" href="https://paikdabang.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fpaikdabang.com%2Fpost_topbanner%2F%25eb%25b3%2584%25ec%259d%25b4-%25eb%2590%2598%25ec%2596%25b4%25eb%259d%25bc-%25ed%2594%2584%25eb%25a1%259c%25eb%25aa%25a8%25ec%2585%2598%2F&#038;format=xml" />
<link rel="icon" href="https://paikdabang.com/wp-content/uploads/2021/12/cropped-빽다방_파비콘-32x32.png" sizes="32x32" />
<link rel="icon" href="https://paikdabang.com/wp-content/uploads/2021/12/cropped-빽다방_파비콘-192x192.png" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="https://paikdabang.com/wp-content/uploads/2021/12/cropped-빽다방_파비콘-180x180.png" />
<meta name="msapplication-TileImage" content="https://paikdabang.com/wp-content/uploads/2021/12/cropped-빽다방_파비콘-270x270.png" />
<script type="text/javascript">var wpjx_ajaxurl = "https://paikdabang.com/wp-admin/admin-ajax.php";</script>
</head>

<body>
    <div id="wrap">
        <header id="header" class="">
            <div class="in_header">
                <div class="sub-bg"></div>
                <div class="container">
                    <ul class="topbar">
                        <li><a href="http://www.theborn.co.kr/" target="_blank">더본코리아</a></li>
                        <!-- <li><a href="http://www.theborn.co.kr/coupon/" target="_blank">더본쿠폰 APP</a></li> -->
                        <!--li><a href="/store">매장찾기</a></li-->
                        <li class="sns f"><a href="https://ko-kr.facebook.com/ipaikscoffee/" target="_blank">facebook</a></li>
                        <li class="sns i"><a href="https://www.instagram.com/paikscoffee_official/" target="_blank">instagram</a></li>
                    </ul>
                    <div class="nav_wrap">
                        <a href="https://paikdabang.com" class="logo"><img src="/wp-content/themes/paikdabang/assets/images/logo.png" alt="빽다방"></a>
                        <a href="https://paikdabang.com" class="logo light"><img src="/wp-content/themes/paikdabang/assets/images/logo-2.png" alt="빽다방"></a>
                        <div class="nav">
                            <div class="nav-icon"><div></div></div>
                            <ul class="navbar">
                                <li id="menu-item-95" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-95"><a href="https://paikdabang.com/about/greeting/">빽다방</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-83" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-83"><a href="">CEO 인사말</a></li>
                                        <li id="menu-item-17797" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17797"><a href="">빽다방 소개</a></li>
                                        <li id="menu-item-17858" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17858"><a href="">멤버십 / 앱 소개</a></li>
                                        <li id="menu-item-17648" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17648"><a href="">커피 이야기</a></li>
                                        <li id="menu-item-17798" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-17798"><a href="">교육 이야기</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-192" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-192"><a href="">메뉴</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-86" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-86"><a href="">신메뉴</a></li>
                                        <li id="menu-item-87" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-87"><a href="">커피</a></li>
                                        <li id="menu-item-88" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-88"><a href="">음료</a></li>
                                        <li id="menu-item-90" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-90"><a href="">아이스크림/디저트</a></li>
                                        <li id="menu-item-89" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-89"><a href="">빽스치노</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-97" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-97"><a href="">소식</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-58" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58"><a href="">소식</a></li>
                                        <li id="menu-item-519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-519"><a href="">이벤트</a></li>
                                        <li id="menu-item-6773" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-6773"><a href="">친절 우수매장</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-98" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-98"><a href="">커뮤니티</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-59" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-59"><a href="">커피 클래스</a></li>
                                    </ul>
                                </li>
                                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-99"><a href="">매장안내</a>
                                    <ul class="sub-menu">
                                        <li id="menu-item-61" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-61"><a href="">매장찾기</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="overlay"></div> <!-- 팝업오버레이 -->
        <div id="content-wrap">



<script>
jQuery(document).ready(function(){
    jQuery('.menu-item-1019 a').attr('target','_blank');
    jQuery('.menu-item-17246 a').attr('target','_blank');
    jQuery('.menu-item-17247 a').attr('target','_blank');
});
</script>
<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		
<article id="post-13" class="post-13 page type-page status-publish hentry">
	<div class="entry-content">
        <!-- 창업버튼 -->
<ul class="found_btn">
	<li><a href="https://start.theborn.co.kr/briefing.php" target="_blank"><img src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/presentation_btn.png" /></a></li>
	<li><a href="https://start.theborn.co.kr/inquiry.php" target="_blank"><img src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/counsel_btn.png" /></a></li>
</ul>
<!-- //창업버튼 -->
<!-- 메인비쥬얼 -->
<div class="main_visual_wrap">
    <div class="swiper-wrapper">
		
        <div class="swiper-slide">
						<a href="/post_news/18167-2/" target="_blank"><img src="https://paikdabang.com/wp-content/uploads/2024/05/빽다방_별이되어라-콜라보_홈페이지-메인_1920x600_O_확인용.jpg" alt=""></a>
							<!--
				else if($pc_choice && $pc_url)
				{
					$url_pos = substr($pc_url['url'],strrpos($pc_url['url'],'/')+1);
					$url_data = "//www.youtube.com/embed/$url_pos";
                    $player_id = "player_id".get_the_ID();
                    $player_id_arr[] = $player_id;
                    $player_id_arr2[] = $url_pos;*/
					<div id="">
					</div>-->
			        </div>
		
        <div class="swiper-slide">
						<img src="https://paikdabang.com/wp-content/uploads/2024/05/빽다방_슈크리미3종_홈페이지-메인_1920x600-1920x600.jpg" alt="">
							<!--
				else if($pc_choice && $pc_url)
				{
					$url_pos = substr($pc_url['url'],strrpos($pc_url['url'],'/')+1);
					$url_data = "//www.youtube.com/embed/$url_pos";
                    $player_id = "player_id".get_the_ID();
                    $player_id_arr[] = $player_id;
                    $player_id_arr2[] = $url_pos;*/
					<div id="">
					</div>-->
			        </div>
		
        <div class="swiper-slide">
						<a href="https://paikdabang.com/?post_type=post_news&p=18130" target="_blank"><img src="https://paikdabang.com/wp-content/uploads/2024/04/빽다방_에어마카오_이벤트안내_홈페이지-메인_1920x600_O.jpg" alt=""></a>
							<!--
				else if($pc_choice && $pc_url)
				{
					$url_pos = substr($pc_url['url'],strrpos($pc_url['url'],'/')+1);
					$url_data = "//www.youtube.com/embed/$url_pos";
                    $player_id = "player_id".get_the_ID();
                    $player_id_arr[] = $player_id;
                    $player_id_arr2[] = $url_pos;*/
					<div id="">
					</div>-->
			        </div>
		
        <div class="swiper-slide">
						<img src="https://paikdabang.com/wp-content/uploads/2024/03/빽다방_블루캔디월드_홈페이지-메인_1920x600_O.jpg" alt="">
							<!--
				else if($pc_choice && $pc_url)
				{
					$url_pos = substr($pc_url['url'],strrpos($pc_url['url'],'/')+1);
					$url_data = "//www.youtube.com/embed/$url_pos";
                    $player_id = "player_id".get_the_ID();
                    $player_id_arr[] = $player_id;
                    $player_id_arr2[] = $url_pos;*/
					<div id="">
					</div>-->
			        </div>
		
        <div class="swiper-slide">
						<img src="https://paikdabang.com/wp-content/uploads/2022/01/main_멤버십활성화-1.jpg" alt="">
							<!--
				else if($pc_choice && $pc_url)
				{
					$url_pos = substr($pc_url['url'],strrpos($pc_url['url'],'/')+1);
					$url_data = "//www.youtube.com/embed/$url_pos";
                    $player_id = "player_id".get_the_ID();
                    $player_id_arr[] = $player_id;
                    $player_id_arr2[] = $url_pos;*/
					<div id="">
					</div>-->
			        </div>
		    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- //메인비쥬얼 -->
<!-- 메인컨텐츠 -->
<div class="main_section">
	<section class="main_sec01 sec_hover">
  	<div class="left_wrap sec_hover">
      <a href="/about/coffee_story">
        <dl class="">
          <dt>PAIK’S COFFEE<br />STORY</dt>
          <dd>균형잡힌 바디감으로 긴 여운을 남기는 빽다방 커피를 만나보세요.</dd>
        </dl>
      	<a class="view_btn" href="/about/coffee_story"><span>커피 이야기 보러가기</span></a>
      </a>
    </div>
  	<div class="right_wrap sec_hover">
      <a href="/about/paiks_intro">
        <dl class="">
          <dt>PAIK’S BRAND<br />STORY</dt>
          <dd>합리적인 가격으로 만나는 맛있고 든든한 빽다방</dd>
        </dl>
     		<a class="view_btn" href="/about/paiks_intro"><span>빽다방 소개 보러가기</span></a>
      </a>
    </div>
  </section>
	<section class="main_sec02 sec_hover">
  	<a href="/menu/menu_coffee">
    	<dl class="main_tt">
      	<dt>FRESH<br />COFFEE</dt>
        <dd>신선한 뉴크롭 원두를 사용하여<br />추출한 커피메뉴!</dd>
      </dl>
      <img class="pc" alt="">
      <img class="mo" alt="">
    </a>
    <a class="view_btn" href="/menu/menu_coffee"><span>커피 메뉴 보러가기</span></a>
  </section>
	<section class="main_sec03">
  	<div class="left_wrap sec_hover">
      <a href="/menu/menu_drink">
        <dl class="main_tt">
          <dt>VARIOUS<br />BEVERAGE</dt>
          <dd>에이드, 티, 주스 등 취향대로<br />골라 먹는 즐거움!</dd>
        </dl>
        <img class="pc" alt="">
        <img class="mo" alt="">
      </a>
      <a class="view_btn" href="/menu/menu_drink"><span>음료 메뉴 보러가기</span></a>
    </div>
    <div class="right_wrap sec_hover">
      <a href="/menu/menu_ccino">
        <dl class="main_tt">
          <dt>SWEET<br />PAIK'S CCINO</dt>
          <dd>달콤 시원한 빽다방<br />시그니처 메뉴!</dd>
        </dl>
        <img class="pc" alt="">
        <img class="mo" alt="">
      </a>
      <a class="view_btn" href="/menu/menu_ccino"><span>빽스치노 메뉴 보러가기</span></a>
    </div>
  </section>
	<section class="main_sec04">
  	<div class="right_wrap sec_hover">
      <a href="/menu/menu_dessert">
        <dl class="main_tt">
          <dt>TASTY<br />ICE CREAM /<br />DESSERT</dt>
          <dd>달콤한 아이스크림부터<br />든든한 브레드까지!</dd>
        </dl>
        <img class="pc" alt="">
        <img class="mo" alt="">
      </a>
      <a class="view_btn" href="/menu/menu_dessert"><span>아이스크림/디저트 메뉴 보러가기</span></a>
    </div>
    <div class="left_wrap">
      <div class="store_bn">
      	<dl>
        	<dt>STORE</dt>
          <dd>원하시는 지역의 매장을 검색해보세요!</dd>
        </dl>
        <div class="store_search">
        	<form action="/store/" method="get">
          	<input type="text" name="search_string" placeholder="Find a store in your area!">
            <button class="ok" type="submit" name=""><img alt="검색"></button>
        	</form>
        </div>
      </div>
    	<div class="franchise_bn">
      	<a href="/franchise/franchise">
          <dl>
            <dt>FRANCHISE</dt>
            <dd>빽다방 창업안내를 도와드리겠습니다.</dd>
          </dl>
        </a>
        <a class="view_btn" href="/franchise/franchise"><span>창업안내 보러가기</span></a>
      </div>
    </div>
  </section>
  <div class="main_sns">
  	<dl class="sns_tt">
    	<dt>PAIK’S COFFEE SNS</dt>
      <dd><span>#빽다방</span><span>#빽다방신메뉴</span><span>#빽다방이벤트</span></dd>
    </dl>
    <ul class="sns_icon">
    	<li><a href="https://ko-kr.facebook.com/ipaikscoffee/" target="_blank"><img alt="facebook"></a></li>
    	<li><a href="https://www.instagram.com/paikscoffee_official/" target="_blank"><img alt="instagram"></a></li>
    </ul>
    <div class="feed_box">
    	<ul>
						    	</ul>
  	</div>
  </div>
</div>
<!-- //메인컨텐츠 -->


<!-- 메인팝업 
<div class="layer-popup">
    <div class="layerPop">
        <button type="button" class="close">닫기</button>
        <img class="logo" src="https://paikdabang.com/wp-content/themes/paikdabang/assets/images/paik-coffee.png" alt="paik's coffee">
        <p>고품질의 재료로 만든<br>신선한 커피와 음료를 만나보세요</p>
		<script src="https://player.vimeo.com/api/player.js"></script>
        <div style="padding:39.4% 0 0 0;position:relative;">
            <iframe src="https://player.vimeo.com/video/310002359?autoplay=1&loop=1&title=0&byline=0&portrait=0" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
        <a class="btn" href="/about/intro/#player">자세히 보기</a>
    </div>
    <a href="javascript:closePopupNotToday()"><button type="button" class="notToday">오늘 하루 그만보기</button></a>
</div>
 //메인팝업 -->


<link rel="stylesheet" type="text/css" href="/wp-content/themes/paikdabang/assets/css/swiper.min.css">
<script type="text/javascript" src="/wp-content/themes/paikdabang/assets/js/swiper.min.js"></script>
<script>

			var swiper;
            // main visual
            swiper = new Swiper('.main_visual_wrap', {
                loop : true,
                autoplay: {
                    delay: 5000,
                },
                pagination: {
                    el: '.main_visual_wrap .swiper-pagination',
                    clickable: true,
                },
            });


		/*setTimeout(function() {
            // main visual
            swiper = new Swiper('.main_visual_wrap', {
				on :{
					init:function(){
						object = jQuery(".swiper-slide").eq(0).find("iframe").attr("id");
						// console.log(object);
						eval(object).playVideo();
					},
				},
                loop : false,
                autoplay: {
                    delay: 5000,
                },
                pagination: {
                    el: '.main_visual_wrap .swiper-pagination',
                    clickable: true,
                },
            });
        },3000);

		setTimeout(function() {
            swiper.on('slideChange', function () {
                stopVideo();

                jQuery(".swiper-slide:not(.swiper-slide-duplicate)").each(function() {
                    //var this_index = jQuery(this).data("swiper-slide-index");
					var this_index = jQuery(".swiper-slide").index(jQuery(this));
					//console.log(this_index+":"+swiper.realIndex);
					console.log(this_index);
                    if( this_index == swiper.realIndex ) {

                        var object = jQuery(this).find("iframe").attr("id");
                        if( object ) {
							console.log(object);
							//console.log(object);
                           eval(object).playVideo();
                        }
                    }
                });
            });
        },3000);

    });

	  var tag = document.createElement('script');
      tag.src = "https://www.youtube.com/iframe_api";
      var firstScriptTag = document.getElementsByTagName('script')[0];
      firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        
	function onYouTubeIframeAPIReady() {
              }
	  function startVideo(){
			player_id512.playVideo;
	  }

      function stopVideo() {
                }*/


	// 메인 레이어팝업
	if(getCookie("notToday") != "Y"){
	  $(".layer-popup").css('visibility','visible');
	}

	function closePopupNotToday(){            
	  setCookie('notToday','Y', 1);
	  $(".layer-popup").hide('fade');
	}
	function setCookie(name, value, expiredays) {
	 var today = new Date();
		 today.setDate(today.getDate() + expiredays);

		 document.cookie = name + '=' + escape(value) + '; path=/; expires=' + today.toGMTString() + ';'
	}

	function getCookie(name)
	{
		var cName = name + "=";
		var x = 0;
		while ( x <= document.cookie.length )
		{
			var y = (x+cName.length);
			if ( document.cookie.substring( x, y ) == cName )
			{
				if ( (endOfCookie=document.cookie.indexOf( ";", y )) == -1 )
					endOfCookie = document.cookie.length;
				return unescape( document.cookie.substring( y, endOfCookie ) );
			}
			x = document.cookie.indexOf( " ", x ) + 1;
			if ( x == 0 )
				break;
		}
		return "";
	}

    jQuery('.layer-popup .close').on('click',function() {
        jQuery('.layer-popup').hide('fade');
    });

	var popup_height = jQuery('.layer-popup').outerHeight();
	
	if(popup_height < 420 ) {
		jQuery('.layer-popup').css('height','660px');
	}

	jQuery( window ).resize( function() {
		var popup_height = jQuery('.layer-popup').outerHeight();
	
		if(popup_height < 420 ) {
			jQuery('.layer-popup').css('height','660px');
		}
	});

</script></div><!-- .entry-content -->
</article><!-- #post-## -->	</main><!-- .site-main -->
</div><!-- .content-area -->

</div> <!-- END #content-wrap -->

<footer id="footer">
    <div class="container">
        <div class="in_footer">
            <a class="logo" href="https://paikdabang.com"><img src="/wp-content/themes/paikdabang/assets/images/flogo.png" alt="더본로고"></a>
            <a class="logo light" href="https://paikdabang.com"><img src="/wp-content/themes/paikdabang/assets/images/flogo-2.png" alt="더본로고"></a>
            <div class="company_info">
                <ul>
                    <li>(주)더본코리아</li>
                    <li>사업자등록번호 211-86-00870</li>
                    <li>대표이사 백종원</li>
                </ul>
                <ul>
                    <li>주소: 서울시 강남구 봉은사로 1길 39 유성빌딩 5~6층</li>
                    <li>팩스: 02-511-3864</li>
                </ul>
                <ul>
                    <li>본사 대표전화: 02-549-3864</li>
                    <li>가맹상담전화: 02-3447-0410</li>
                    <li>고객센터: 1544-2360</li>
                </ul>
                <p class="copyright">COPYRIGHTⓒ 2018 THEBORN KOREA INC. ALL RIGHTS RESERVED</p>
            </div>
        </div>

        <!-- TOP버튼 -->
        <div class="to_top">
            <span></span>
        </div>
        <!-- //TOP버튼 -->
    </div>
</footer> <!-- END footer -->

</div> <!-- END #wrap -->

<script type='text/javascript' src='https://paikdabang.com/wp-content/themes/paikdabang/assets/js/site_function.js?ver=4.9.4'></script>
<script type='text/javascript' src='https://paikdabang.com/wp-content/themes/paikdabang/assets/js/extend.a.js?ver=4.9.4'></script>
<script type='text/javascript' src='https://paikdabang.com/wp-includes/js/wp-embed.min.js?ver=4.9.4'></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-37266520-11"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-37266520-11');
</script>

</body>
</html>
